# Week 3 Assignment

## Segmenting and Clustering Neighborhoods in Toronto

**Import the libaries**

In [2]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

**Read the CSV**

In [3]:
week3_data = pd.read_csv('week3_toronto_data.csv')
week3_data.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

**Print the shape of the data**

In [5]:
# get the Shape
week3_data.shape

(180, 3)

### Manage 'Not assigned' values

1. Replace 'Not assigned with NaN
1. Drop rows where borough is NaN
1. For Neighborhood with NaN, assign value of Borough (**Note: There are no rows where only Neighborhoods are 'not assigned'**)
1. For Borough with multiple rows of Neighbourhood, merged them into 1 row separating the neighborhoods with commas (**Note: the data in the Wiki is already doing this. This will be skipped**)

In [15]:
# replace 'not assigned' with NA
week3_data.replace('Not assigned', np.nan, inplace=True);

# drop NaN
cleaned = week3_data.dropna()
cleaned.reset_index(inplace=True, drop=True)

# check if there are any neighborhoods with NaN
total_hood_with_nan = cleaned[ cleaned['Neighborhood'] == np.nan ];
print("There are {} neighboorhoods with NaN".format( len(total_hood_with_nan) ))


# print the clean
cleaned.head()

There are 0 neighboorhoods with NaN

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Print the number of rows in the dataframe

In [14]:
print("There are {} rows in the dataframe".format( cleaned.shape[0] ))

There are 103 rows in the dataframe